

.pharmd3 {
    color: blue;
    font-weight: lighter;
    font-style: italic;
    text-align: right;
}

#boxID {
 margin: 50px;
 padding: 25px;
 background-color: red;
 border: 5px solid blue;
 font-weight: bolder;
}

.navbar {
    list-style-type: none;
    background-color: navy;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
}

.navbar li{
    display: inline;
    float: left;
}

.navbar li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 16px 16px;
    color: white;
    border-right: solid 1px;
}

.navbar li a:hover{
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

body{
    background-image: url(webback.jpg);
}

.card{
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    margin: 5px ;
}

.centerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column{
    float: left;
    width: 33.3%;
    margin-bottom: 14px;
    
}

.card   {
    border-color: beige;
    border: solid 1px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 2);
    border-radius: 10px;
    
}

.card:hover{
    box-shadow: 0 8px 100px 0 rgba(0, 0, 0, 2);
}

.title{
    color: gray;
}